{% extends 'hamburgueria/main.html' %}
{% load static %}

{% block content %}

<br><br><br><br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <a href="{% url 'hamburgueria' %}" class="btn btn-outline-dark" style="border-radius: 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">&#x2190; Continuar Escolhendo</a>
            <hr style="border: none; border-top: 1px dashed #000;">

            <br>
            <table class="table">
                <tr>
                    <th><h5>ITENS: <strong>{{ itens }}</strong></h5></th>
                    <th><h5>TOTAL: <strong> R${{ total }} </strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

        <div class="box-element" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <div class="cart-row" style="display:flex; align-items:flex-stretch; border-radius: 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Preço</strong></div>
                <div style="flex:1"><strong>Quantidade</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            <hr style="border: none; border-top: 1px dashed #000;">
            {% for produto in produtos %}
                <div class="cart-row" style="display:flex; align-items:flex-stretch; border-radius: 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">
                    {% if produto.imagem %}
                        <div style="flex:2"><img style="width:100px" src="{{ produto.imagem.url }}"></div>
                    {% else %}
                        <div style="flex:2"><img style="width:100px" src="{% static 'images/placeholder.jpg' %}"></div>
                    {% endif %}
                    <div style="flex:2">{{produto.nome}}</div>
                    <div style="flex:1">R${{produto.preco}}</div>
                    <div style="flex:1;">
                        <p class="quantidade" style="display: inline-block; font-weight: 700; padding-right:10px;" id="quantidade">{{produto.quantidade}}</p>
                        <div class="quantidade" style="display: inline-block; font-weight: 700; padding-right:10px;">
                            <form method="POST" action="{% url 'atualizar_quantidade' %}">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                                <button type="submit" name="action" value="aumentar">+</button>
                                <button type="submit" name="action" value="diminuir">-</button>
                            </form>
                        </div>
                    </div>
                    <div style="flex:1">{{ produto.preco }}</div>
                </div>
                <hr style="border: none; border-top: 1px dashed #000;">
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function aumentarQuantidade() {
        var quantidadeElement = document.getElementById('quantidade');
        var quantidade = parseInt(quantidadeElement.textContent);

        quantidadeElement.textContent = quantidade + 1;
    }

    function diminuirQuantidade() {
        var quantidadeElement = document.getElementById('quantidade');
        var quantidade = parseInt(quantidadeElement.textContent);

        
        if (quantidade > 1) {
            
            quantidadeElement.textContent = quantidade - 1;
        }
    }
</script>

{% endblock content %}