{% extends 'hamburgueria/main.html' %}
{% load static %}

{% block content %}

<br><br><br><br><br>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark" style="border-radius: 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">&#x2190; Voltar ao Carrinho </a>
            <hr>
            <h3 style="margin-left: 5px;">Resumo do Pedido</h3>
            <hr>
            {% for produto in produtos %}
                <div style="display:flex; align-items:flex-stretch; border-radius: 0; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">
                    {% if produto.imagem %}
                        <div style="flex:2"> <img style="width:100px" src="{{ produto.imagem.url }}"></div>
                    {% else %}
                        <div style="flex:2"> <img style="width:100px" src="{% static 'images/placeholder.jpg' %}"></div>
                    {% endif %}
                    <div style="flex:2"><p>{{ produto.nome }}</p></div>
                    <div style="flex:1"><p>R${{ produto.preco }}</p></div>
                    <div style="flex:1"><p>{{ produto.quantidade }}X</div>
                </div>  
                <hr>
            {% endfor %}
                <h5 style="margin-left: 5px;">Itens: {{itens}}</h5>
                <h5 style="margin-left: 5px;">Total: {{ total }}</h5>
        </div>
    </div>
</div>


{% endblock content %}